* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Barlow";
    src: url("fonts/BarlowSemiCondensed-SemiBold.ttf");
    font-weight: 600;
}

@font-face {
    font-family: "Barlow";
    src: url("fonts/BarlowSemiCondensed-Medium.ttf");
    font-weight: 500;
}


html,
body {
    background: rgba(236, 242, 248, 1);
    font-family: "Barlow";
    height: 100%;
}

body {
    background: #F2F2F2;

}

.layout {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;

}

.container {
    display: grid;
    height: 565px;
    width: 1110px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
        "Daniel Daniel Jonathan Kira "
        "Jeanette Patrick Patrick Kira";
    grid-gap: 30px;


}

.card {
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

.container-name {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "images name name name"
        "images  name name name";
    margin: 25px 32px 17px;
    grid-gap: 17px;
    width: 140px;
    height: 28px;
}

.name {

    flex-direction: row;
    width: 91px;
    height: 28px;
}

.description {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 32px;
    margin-right: 32px;
}

.images {
    grid-area: images;
}

h5 {
    font-weight: 500;
    color: #fff;
    font-size: 13px;
    grid-area: name;
}

h6 {
    font-weight: 500;
    opacity: 50%;
    font-size: 11px;
    grid-area: name;
}

b {
    color: #D9D9D9;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 15px;

}

p {
    color: #CFCFCF;
    opacity: 70%;
    font-weight: 500;
    font-size: 13px;
    margin-bottom: 32px;
}

.Daniel {
    grid-area: Daniel;
    background: url(./images/dabel.png )no-repeat top right 80px #733FC8;
    background-size: 104px;
    height: 280px;
    width: 540px;
    border-radius: [object Object]px;

}

.Jonathan {
    background: #48556A;
    grid-area: Jonathan;
    width: 255px;
    height: 278px;

}

.Jeanette {
    background: #FFFFFF;
    grid-area: Jeanette;
}

.Jeanette h5 {
    color: #48556A;
}

.Jeanette h6 {
    opacity: 50%;
    color: #48556A;
}

.Jeanette b {
    color: #48556A;

}

.Jeanette p {
    opacity: 50%;
    color: #48556A;
}

.Patrick {
    background: #19202D;
    grid-area: Patrick;
}

.Kira {
    background: #FFFFFF;
    grid-area: Kira;

}

.Kira h5 {
    color: #48556A;
}

.Kira h6 {
    opacity: 50%;
    color: #48556A;
}

.Kira b {
    color: #48556A;

}

.Kira p {
    opacity: 50%;
    color: #48556A;
}


/* 
.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
} */