* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Barlow";
    src: url("fonts/BarlowSemiCondensed-SemiBold.ttf");
    font-weight: 600;
}

@font-face {
    font-family: "Barlow";
    src: url("fonts/BarlowSemiCondensed-Medium.ttf");
    font-weight: 500;
}


html,
body {
    font-family: "Barlow";
    height: 100%;
    background-color: #F2F2F2;
}


.layout {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.container {
    display: grid;
    height: 565px;
    width: 1110px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
        "Daniel Daniel Jonathan Kira "
        "Jeanette Patrick Patrick Kira";
    grid-gap: 30px;

}

.card {
    border-radius: 8px;
    box-shadow: 40px 60px 50px -47px #48556A3F;
}

.container-name {
    display: flex;
    flex-direction: row;
    width: 140px;
    height: 28px;
    margin: 25px 17px 0 32px;
}

.name {
    width: 91px;
    height: 28px;

}

.description {
    text-align: left;

}

.image {
    grid-area: images;
    width: 28px;
    margin-right: 17px;
}

.big h5 {
    font-weight: 500;
    color: #fff;
    font-size: 13px;
}

.big h6 {
    color: #FFF;
    font-weight: 500;
    opacity: 50%;
    font-size: 11px;

}

.big h4 {
    width: 476px;
    height: 72px;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    color: #D9D9D9;
    margin: 17px 32px;
}

.big p {
    width: 478px;
    height: 89px;
    font-size: 13px;
    font-weight: 500;
    line-height: 18px;
    margin: 16px 32px;
    color: #CFCFCF;
    opacity: 70%;
}

.person-Daniel {
    grid-area: Daniel;
    background: url(./images/dabel.png )no-repeat top right 80px #733FC8;
    height: 278px;
    width: 540px;
}

.person-Jonathan h5 {
    font-size: 13px;
    line-height: 13px;
    left: 836px;
    top: 180px;
    color: #FFFFFF;
    width: 91px;
    height: 13px;
}

.person-Jonathan h6 {
    color: #FFFFFF;
    font-weight: 500;
    opacity: 70%;
    font-size: 11px;
    width: 76px;
    height: 11px;
}

.person-Jonathan h4 {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    color: #FFFFFF;
    margin: 17px 32px;
}

.person-Jonathan p {
    font-size: 13px;
    font-weight: 500;
    line-height: 18px;
    color: #FFFFFF;
    opacity: 70%;
    margin: 16px 32px;
}

.person-Jonathan {
    background: #48556A;
    grid-area: Jonathan;
    width: 255px;
    height: 278px;
}

.person-Jeanette {
    background: #FFFFFF;
    grid-area: Jeanette;
    color: #48556A;
}
.person-Jeanette h6{
    opacity: 50%;
}

.person-Jeanette h5 {
    width: 89px;
    height: 13px;
    font-size: 13px;
    font-weight: 500;
    line-height: 13px;
}

.person-Jeanette h4 {
    width: 191px;
    height: 71px;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    margin: 17px 32px;
}

.person-Jeanette p {
    font-size: 13px;
    font-weight: 500;
    line-height: 18px;
    margin: 16px 32px;
}

.person-Patrick {
    background: #19202D;
    grid-area: Patrick;
}

.person-Kira {
    background: #FFFFFF;
    grid-area: Kira;
}

.person-Kira h5 {
color: #48556A;
font-size: 13px;
font-weight: 500;
line-height: 13px;

}

.person-Kira h6 {
    color: #48556A;
    opacity: 50%;
font-size: 11px;
font-weight: 500;
line-height: 11px;

}

.person-Kira h4 {
color: #48556A;
font-size: 20px;
font-weight: 600;
line-height: 24px;
margin: 17px 32px;
}


.person-Kira p {
 opacity: 70%;
 color: #48556A;
font-size: 13px;
font-weight: 500;
line-height: 18px;
margin: 16px 32px;
}



.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media only screen and (max-width:1110px) {
    

    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 240px);
        grid-template-areas:
            "Daniel Daniel"
            "Jonathan  Kira"
            "Jeanette  Kira"
            "Patrick Patrick";
        grid-gap: 20px;
        width: 560px;
        margin: 400px;
    }

    .person-Daniel  {
        height: 255px;
        width: 600px;
        background: url(./images/dabel.png )no-repeat top right 69px #733FC8;

    }
    .person-Daniel p {
        line-height: 16px;
    }

    
    .person-Jonathan {
        height: 240px;
        width: 300px;
        margin-top: 10px;
    }

    .person-Jeanette {
        height: 240px;
        width: 300px;
        margin-top: 7px;
    }

    .person-Patrick  {
        height: 250px;
        width: 600px;
        margin-top: 10px; 
    }

    .person-Kira {
        height: 500px;
        width: 280px;
        margin-top: 10px;
    }
    .person-Kira h4 {
        margin-left: 35px;
        width: 240px;
        height: 50px;
    line-height: 20px;
    }


    .attribution {
        display: none;
    }

}

@media only screen and (max-width:750px) {
    body {
        height: 1834px;
        padding: 71px 24px;
    }

    .container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-template-areas:
            "Daniel""Jonathan""Jeanette "
            "Patrick"" Kira";
        grid-gap: 24px;
        width: 328px;
        height: 1824px;

    }

    h4{
        line-height: 24px;

    }

    p {
        line-height: 18px;
    }

    .person-Daniel {
        height: 444px;
        width: 327px;
        background: url(./images/dabel.png )no-repeat top left 199px #733FC8;
    }

    .person-Daniel h4{
        margin-bottom: 40px;
        width: 263px;
        height: 120px;
    }
    .person-Daniel p{
        width: 247px;
        height: 180px;
        font-size: 13px;
        
    }
    .person-Jonathan {
        height: 240px;
        width: 327px;
    }

    .person-Jeanette {
        height: 222px;
        width: 327px;
    }

    .person-Patrick {
        height: 384px;
        width: 327px;
    }
    .person-Patrick h4{
        width: 263px;
        height: 120px;

    }
    .person-Patrick p{
        width: 263px;
        height: 144px;
    }
   
    .person-Kira {
        height: 438px;
        width: 327px;
    }
}